[Unit]
Description=Lightweight and feature rich dynamic pill bar for hyprland
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
Environment=QT_QPA_PLATFORM=wayland
Environment=LD_LIBRARY_PATH=%h/.config/quickshell/chillpill-shell/IslandBackend
Environment=QML_IMPORT_PATH=/usr/share/chillpill-shell
ExecStart=/usr/local/bin/chillpill-shell
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
